<div class="main-content">
        <div class="container-fluid">
            <div class="row" *ngIf="summary$ | async as summary">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <!-- <div class="card-header" data-background-color="blue">
                            <i class="material-icons">list</i>
                        </div> -->
                        <div class="card-content">
                            <p class="category">Total Customers</p>
                            <h3 class="card-title">{{ summary.total_customers || 0 }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <!-- <div class="card-header" data-background-color="blue">
                            <i class="material-icons">list</i>
                        </div> -->
                        <div class="card-content">
                            <p class="category">Total Loans Taken</p>
                            <h3 class="card-title">{{ summary.count }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <!-- <div class="card-header" data-background-color="blue">
                            <i class="material-icons">list</i>
                        </div> -->
                        <div class="card-content">
                            <p class="category">Total Loan Amount With Interest</p>
                            <h3 class="card-title">{{ summary.amountBorrowedWithInterest | currency: 'GHS' }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <!-- <div class="card-header" data-background-color="blue">
                            <i class="material-icons">list</i>
                        </div> -->
                        <div class="card-content">
                            <p class="category">Total Loan Balance</p>
                            <h3 class="card-title">{{ summary.amountRemaining | currency: 'GHS' }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
    
        </div>
    </div>
    