<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card-content" *ngIf="selected && modalType=='details'">
          <div class="white">
            
            <div class="row" style="padding:20px;">
              <div class="col-md-11">
                  <p>Loan Details</p>
              </div>
              <div class="col-md-1">
                  <button 
                      type="button" 
                      (click)="selected=null"
                  >
                      close
                  </button>
              </div>
          </div>

          <hr>
  
            <div class="row" style="padding:10px">
              <div class="col-md-12">
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Fullname</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.getName() }}
                    </p>
                  </div>
                </div>
    
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Loan Amount</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.amount | currency: "GHS" }}
                    </p>
                  </div>
                </div>
    
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Loan Rate</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.rate }}%
                    </p>
                  </div>
                </div>
    
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Maximum Loan Amount</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.can_borrow_amount | currency:'GHS' }}
                    </p>
                  </div>
                </div>
    
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Amount Due</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.amount_remaining | currency: "GHS" }}
                    </p>
                  </div>
                </div>
    
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Amount Paid</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.amount_paid | currency: "GHS" }}
                    </p>
                  </div>
                </div>
    
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Amount remaining</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.amount_remaining | currency: "GHS" }}
                    </p>
                  </div>
                </div>
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Penalty</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.penalty }}%
                    </p>
                  </div>
                </div>
  
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Penalty Amount</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.penalty_amount | currency: "GHS" }}
                    </p>
                  </div>
                </div>  
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Defaulted</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.getDefaulted() }}
                    </p>
                  </div>
                </div>
    
                <div class="row text-row">
                  <div class="col-md-6">
                    <p>Date Applied</p>
                  </div>
                  <div class="col-md-6">
                    <p class="bold" style="text-align: right;">
                      {{ selected.createdAt | date }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row white" [formGroup]="formGroup" *ngIf="selected && modalType==='pay'">
      <div class="col-md-12">
        <div class="container-login100">
          <div class="wrap-login100 p-t-85 p-b-20">
            <div class="login100-form validate-form">
              <div class="row" style="padding:20px;">
                <div class="col-md-11">
                  Please enter <b>Account Details</b> you want to make
                  payment from
                </div>
                <div class="col-md-1">
                    <button 
                        type="button" 
                        (click)="selected=null"
                    >
                        close
                    </button>
                </div>
            </div>
              <br />
              <div
                *ngIf="formGroup.get('account_type').value === 'momo'"
              >
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Mobile Money Number</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="account_number"
                      />
                      <span class="help-block"
                        >Please provide a wallet account from which money
                        will be taken</span
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Choose Network</label>
                      <select class="form-control" formControlName="account_issuer">
                        <option value="MTN">Mtn</option>
                        <option value="TIGO">Tigo</option>
                        <option value="VODAFONE">Vodafone</option>
                        <option value="AIRTEL">Airtel</option>
                      </select>
                      <span class="help-block"
                        >Choose your account network</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group label-floating">
                    <label class="control-label">Amount to pay</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="amount"
                      [value]="selected.amount_remaining"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button
                    (click)="payLoan()"
                    type="button"
                    class="btn btn-raised"
                  >
                    Pay
                </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h4>Your Loans</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <input
              type="text"
              style="
                width: 100%;
                border: 1px solid #0b88d595;
              "
              placeholder="search loans"
              (keyup)="onSearch($event)"
            />
          </div>
        </div>
        <div
          class=""
          style="
            background: #fff;
            border-radius: 4px;
            border-top: 2px solid #0b88d55e;
          "
        >
          <div class="card-content">
            <div class="content table-responsive">
              <table class="table table-bordered" [ngSwitch]="onsearch">
                <thead class="text-primary">
                  <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Amount Due</th>
                    <th>Penalty</th>
                    <th>Payment Date</th>
                    <th>Date Received</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th class="text-right">view</th>
                    <th class="text-right">Pay</th>
                  </tr>
                </thead>
                <tbody *ngSwitchCase="false">
                  <tr
                    [class.active]="selected?._id===loan._id"
                    *ngFor="
                      let loan of loans$
                        | async
                        | paginate: { itemsPerPage: 15, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ loan.amount | currency: "GHS" }}</td>
                    <td>{{ loan.rate }}</td>
                    <td>{{ loan.amount_remaining | currency: "GHS" }}</td>
                    <td>{{ loan.penalty_amount | currency: "GHS" }}</td>
                    <td>{{ loan.next_payment_date | date }}</td>
                    <td>{{ loan.createdAt | date }}</td>
                    <td>{{ loan.getDuration() }}</td>
                    <td>{{ loan.getStatus() }}</td>
                    <td class="text-right">
                      <button
                        class="btn btn-fab btn-fab-mini btn-raised"
                        (click)="openDetails(loan,'details')"
                      >
                        <i class="material-icons">view_list</i>
                      </button>
                    </td>
                    <td class="text-right">
                      <button
                        class="btn btn-fab btn-fab-mini btn-raised"
                        (click)="openDetails(loan,'pay')"
                        [disabled]="!loan.enablePay()"
                      >
                        <i class="material-icons">send</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngSwitchCase="true">
                  <tr
                  [class.active]="selected?._id===loan._id"
                    *ngFor="
                      let loan of filter
                        | paginate: { itemsPerPage: 15, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ loan.amount }}</td>
                    <td>{{ loan.rate }}</td>
                    <td>{{ loan.amount_remaining | currency: "GHS" }}</td>
                    <td>{{ loan.penalty_amount | currency: "GHS" }}</td>
                    <td>{{ loan.next_payment_date | date }}</td>
                    <td>{{ loan.createdAt | date }}</td>
                    <td>{{ loan.getDuration() }}</td>
                    <td>{{ loan.getStatus() }}</td>
                    <td class="text-right">
                      <button
                        class="btn btn-rose btn-raised"
                        data-toggle="modal"
                        data-target="#myModal"
                        (click)="openDetails(loan)"
                      >
                        <i class="material-icons">view_list</i>
                      </button>
                    </td>
                    <td class="text-right">
                      <button
                        class="btn btn-fab btn-fab-mini btn-raised"
                        [disabled]="!loan.enablePay()"
                        data-toggle="modal"
                        (click)="openDetails(loan)"
                        data-target="#payModal"
                      >
                        <i class="material-icons">send</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- <p style="padding: 10%">You don't have any loan request</p> -->
              <div class="loader" *ngIf="loading$ | async"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <!-- Pagination Controls Here -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <!-- End Controls -->

  </div>
</div>
