<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8" [formGroup]="formGroup">
                <div class="padding white">
                    <div class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Add Customer | Employee</h4>
                        </div>
                        <br>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">First name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            formControlName="firstname"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">last Name</label>
                                        <input type="text" class="form-control" formControlName="lastname">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Choose Gender</label>
                                        <select class="form-control" formControlName="gender">
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Customer Email</label>
                                        <input type="email" class="form-control" email="true" formControlName="email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Customer Phone Number</label>
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            formControlName="mobile"
                                            minlength="10"
                                            maxlength="12"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Net Salary</label>
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            formControlName="maxnet"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <input 
                                            type="date" 
                                            class="form-control"
                                            formControlName="dob"
                                        >
                                        <span class="help-block">customer date of birth</span>
                                    </div>
                                </div>
                            </div>


                            <br>
                            <br>

                            <div class="row" [ngSwitch]="loading$ | async">
                                <div class="col-md-3">
                                    <button 
                                        [disabled]="!formGroup.valid"
                                        *ngSwitchCase="false"
                                        class="btn btn-raised"
                                        (click)="save()"
                                    >
                                        Save
                                    </button>
                                </div>
                                <div class="loader" *ngSwitchCase="true"></div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
