<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8" [formGroup]="formGroup">
                <div class="padding white">
                    <div class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Add Employer</h4>
                        </div>
                        <br>
                        <div class="card-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Company Name</label>
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Contact Number</label>
                                        <input type="text" class="form-control" formControlName="mobile">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Digital Address</label>
                                        <input type="text" class="form-control" formControlName="digital_address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Address</label>
                                        <input type="text" class="form-control" formControlName="address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Valid Email</label>
                                        <input type="email" class="form-control" formControlName="email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Location</label>
                                        <input type="text" class="form-control" formControlName="location">
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-3">
                                    <button 
                                        [disabled]="loading$ | async"
                                        class="btn btn-raised"
                                        (click)="save()"
                                    >
                                        Send
                                    </button>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
