<div class="main-content">
    <div class="container-fluid">

        <div class="row" *ngIf="loans.length>0">

            <div class="row">
                <div class="col-md-offset-11 col-md-1">
                    <button (click)="loans=[];selectedId=null">
                        close
                    </button>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="card-content">
                    <table class="table table-bordered white">
                        <thead class="text-primary">
                          <tr>
                            <th>Customer</th>
                            <th>Amount</th>
                            <th>Rate</th>
                            <th>Amount Due</th>
                            <th>Penalty</th>
                            <th>Payment Date</th>
                            <th>Date Received</th>
                            <th>Duration</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let loan of loans;let i = index"
                          >
                            <td>{{ loan.getName() }}</td>
                            <td>{{ loan.amount | currency: "GHS" }}</td>
                            <td>{{ loan.rate }}</td>
                            <td>{{ loan.amount_remaining | currency: "GHS" }}</td>
                            <td>{{ loan.penalty_amount | currency: "GHS" }}</td>
                            <td>{{ loan.next_payment_date | date }}</td>
                            <td>{{ loan.createdAt | date }}</td>
                            <td>{{ loan.getDuration() }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <input 
                                type="text"
                                style="width: 100%"
                                placeholder="search invoice"
                                (keyup.enter)="onSearch($event)"
                            >
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content table-responsive">
                          <table class="table table-bordered white" [ngSwitch]="onsearch">
                                  <thead class="text-primary">
                                      <tr>
                                        <th>Loans</th>
                                        <th>Invoice Id</th>
                                        <th>Employer Code</th>
                                        <th>Employer Name</th>
                                        <th>Amount</th>
                                        <th>Amount Paid</th>
                                        <th>Penalty</th>
                                        <th>Status</th>
                                        <th>Date Issued</th>
                                        <th>Date Paid</th>
                                        <th>View List</th>
                                      </tr>
                                  </thead>
                                <tbody *ngSwitchCase="false">
                                    <tr [class.active]="selectedId===invoice._id" *ngFor="let invoice of invoices$ | async | paginate: { itemsPerPage: 20, currentPage: p }; let i = index;">
                                        <td>{{ invoice.totalLoans || invoice.loans?.length }}</td>
                                        <td>{{ invoice.invoiceId }}</td>
                                        <td>{{ invoice.employer?.empcode}}</td>
                                        <td>{{ invoice.employer?.name }}</td>
                                        <td>{{ invoice.amount | currency:'GHS' }}</td>
                                        <td>{{ invoice.amountPaid }}</td>
                                        <td>{{ invoice.penalty_accrued | currency:'GHS' }}</td>
                                        <td>{{ invoice.status }}</td>
                                        <td>{{ invoice.dateIssued | date }}</td>
                                        <td>{{ invoice.datePaid | date }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-rose btn-raised btn-fab btn-fab-mini" 
                                                (click)="onSelected(invoice)"
                                            >
                                                <i class="material-icons">list</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngSwitchCase="true">
                                    <tr [class.active]="selectedId===invoice._id" *ngFor="let invoice of invoices$ | async | paginate: { itemsPerPage: 20, currentPage: p }; let i = index;">
                                        <td>{{ invoice.totalLoans || invoice.loans?.length }}</td>
                                        <td>{{ invoice.invoiceId }}</td>
                                        <td>{{ invoice.employer?.empcode}}</td>
                                        <td>{{ invoice.employer?.name }}</td>
                                        <td>{{ invoice.amount | currency:'GHS' }}</td>
                                        <td>{{ invoice.amountPaid }}</td>
                                        <td>{{ invoice.penalty_accrued | currency:'GHS' }}</td>
                                        <td>{{ invoice.status }}</td>
                                        <td>{{ invoice.dateIssued | date }}</td>
                                        <td>{{ invoice.datePaid | date }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-rose btn-raised btn-fab btn-fab-mini" 
                                                (click)="onSelected(invoice)"
                                            >
                                                <i class="material-icons">list</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <br>
                          </table>
                          <div class="col-md-12" *ngIf="loading$ | async">
                                <div class="div"
                                    style="
                                        justify-content: center; 
                                        align-items: center;
                                        display: flex;
                                        margin-right: auto;
                                        margin-left: auto;
                                    "
                                >
                                    <div class="loader"></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                

            </div>
        </div>



        <!-- Pagination Controls Here -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!-- End Controls -->
    </div>
</div>
