<div class="">
    <div class="row">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-t-85 p-b-20">
                    <div class="login100-form validate-form" [formGroup]="formGroup" (keyup.enter)="send()">

                        <div
                            style="
                                padding: 10px;
                                font-size: 20px;
                            "
                        >
                            Please enter <b>OTP</b> receieved along with your registered email and a 5 digit pin
                            to activate your account.
                        </div>

                        <br>

                        <div class="wrap-input100 validate-input m-t-85 m-b-35">
                            <input 
                                class="input100" 
                                type="text" 
                                formControlName="account"
                                placeholder="Email or Phone"
                            >
                            <!-- <span 
                                class="focus-input100" 
                                data-placeholder="Email or Phone">
                            </span> -->
                        </div>
    
                        <div class="wrap-input100 validate-input m-t-85 m-b-35">
                            <input 
                                class="input100" 
                                type="text" 
                                formControlName="otp"
                                placeholder="OTP"
                            >
                            <!-- <span 
                                class="focus-input100" 
                                data-placeholder="OTP">
                            </span> -->
                        </div>
    
                        <div class="wrap-input100 validate-input m-b-50">
                            <input 
                                class="input100" 
                                type="password" 
                                maxlength="5"
                                formControlName="password"
                                placeholder="pin"
                            >
                            <!-- <span 
                                class="focus-input100" 
                                data-placeholder="New Pin">
                            </span> -->
                        </div>

                        <div class="wrap-input100 validate-input m-b-50">
                            <input 
                                class="input100" 
                                type="password" 
                                formControlName="confirm"
                                maxlength="5"
                                placeholder="Confirm Pin"
                            >
                            <!-- <span 
                                class="focus-input100" 
                                data-placeholder="Confirm Pin">
                            </span> -->
                        </div>

                        <br>
                        <br>
    
                        <div class="container-login100-form-btn">
                            <button 
                                (click)="send()"
                                class="login100-form-btn" 
                                *ngIf="!(loading$ | async)">
                                continue
                            </button>
                            <div 
                                class="loader"
                                *ngIf="loading$ | async">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>