@import "_custom-colors";

.login-header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color: $primary-color;

  b {
    font-size: 16px;
    font-weight: 600;
  }

  .login {
    font-weight: 400;
    padding-left: 5px;
  }
}

input-field {
  padding-left: 15px;
}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  // margin-top: -20px;
  // padding: 20;
  .reset-button {
    border-radius: 0;
    color: black;
    justify-content: center;
    // margin-bottom: 20px;
    align-self: center;
    font-size: 14px;
    padding: 18px 36px;

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(11, 136, 213, 0.14),
        0 3px 1px -2px rgba(11, 136, 213, 0.2),
        0 1px 5px 0 rgba(11, 136, 213, 0.12);
    }
  }
}

.card-title {
  font-weight: 500;
  margin-bottom: -5px;
  // padding-left: 18px;
  font-size: 13px;
}

.form-group {
  position: relative;
}
.heading {
  font-size: 26px;
  color: $primary-color;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: -15px;
}

.category {
  margin-bottom: 30px;
}

.profile-user-img {
  width: 125px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.avatar-upload {
  position: relative;
  max-width: 100px;
  margin: auto;
  // margin-bottom: 20px;

  .username {
    font-size: 500;
    text-transform: capitalize;
    font-size: 12px;
  }

  .avatar-edit {
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 70px;

    input {
      display: none;

      + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid #d2d6de;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }

        &:after {
          content: "\f030";
          font-family: "FontAwesome";
          color: #337ab7;
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
          line-height: 34px;
          margin: auto;
        }
      }
    }
  }
}

ul {
  opacity: 0.9;

  li {
    font-size: 12px;
  }
}

.employer-info {
  background-color: #ffffff;
}

.center-aligned {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-top: 10px;

  .label-text {
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    padding-left: 10px;
  }
}
