select, .select {
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  border: solid thin #eee;
  border-radius: 2px;
}

.sum {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  text-align: right;
}

.input {
  width: 100%;
  padding: 15px;
  border: solid thin #eee;
  background: #f2f2f2;
  border-radius: 2px;
  font-size: 20px;
}
/*# sourceMappingURL=user-profile.component.css.map */