<div class="main-content">
  <div class="container-fluid" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-8">
        <div style="background: white;">
          <!-- <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">perm_identity</i>
                    </div> -->
          <div class="padding" [ngSwitch]="loading$ | async">
            <div
              class="row"
              style="
                border-bottom: 1px solid rgba(221, 221, 221, 0.347);
                margin-bottom: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
              "
            >
              <div class="col-md-8">
                <h4 class="card-title heading">Edit Profile</h4>
                <h4 class="category">Complete your profile</h4>
              </div>
              <div class="col-md-4" *ngIf="user$ | async as user">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <form action="" method="post" id="form-image">
                      <input
                        type="file"
                        id="imageUpload"
                        accept=".png, .jpg, .jpeg"
                      />
                      <label for="imageUpload"></label>
                    </form>
                  </div>
                  <div class="avatar-preview">
                    <img
                      class="profile-user-img img-responsive img-circle"
                      id="imagePreview"
                      src="https://adminlte.io/themes/AdminLTE/dist/img/user3-128x128.jpg"
                      alt="User profile picture"
                    />
                  </div>
                </div>
                <h3
                  class="profile-username text-center username"
                  style="
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: capitalize;
                    opacity: 0.8;
                    margin-bottom: 0;
                  "
                >
                  {{ user.firstname }} {{ user.lastname }}
                </h3>

                <p
                  class="text-muted text-center"
                  style="font-size: 12px; opacity: 0.8;"
                >
                  {{ user.email }}
                </p>
              </div>
            </div>
            <div formGroupName="user" *ngSwitchCase="false">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="firstname"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="lastname"
                    />
                  </div>
                </div>
              </div>

              <!-- EMAIL | PHONE -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Mobile</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="mobile"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <!-- END EMAIL | PHONE -->

              <!-- GENDER | DOB -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Gender</label>
                    <select formControlName="gender">
                      <option value="MALE">Male</option>
                      <option value="FEMALE">Female</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Date of Birth</label>

                    <input type="date" class="select" formControlName="dob" />
                  </div>
                </div>
              </div>
              <!-- END GENDER | DOB -->

              <!--  -->
              <div class="row">
                <div class="col-md-6">
                  <div class="input-container form-group label-floating">
                    <label class="control-label">Net Salary</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="maxnet"
                    />
                  </div>
                </div>
              </div>
              <!--  -->

              <br />

              <button (click)="update()" class="btn pull-right">
                Update Profile
              </button>
              <div class="clearfix"></div>
            </div>

            <div class="loader" *ngSwitchCase="true"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">
            <div>
              <ul
                class="list-group list-group-unbordered"
                style="border-top-width: 2px solid blue;"
                *ngIf="user$ | async as user"
              >
                <li class="list-group-item">
                  <b>Employer id</b>
                  <a class="pull-right">{{ user.empcode }}</a>
                </li>
                <li class="list-group-item">
                  <b>Employer Name</b>
                  <a class="pull-right">{{ user.getEmployer("name") }}</a>
                </li>
              </ul>
            </div>
            <div>
              <ul
                class="list-group list-group-unbordered"
                *ngIf="summary$ | async as summary"
              >
                <li class="list-group-item">
                  <b>Total Loans Taken</b>
                  <a class="pull-right">{{ summary.count }}</a>
                </li>
                <li class="list-group-item">
                  <b>Total Amount Borrowed</b>
                  <a class="pull-right">{{ summary.amountBorrowed | currency: "GHS" }}</a>
                </li>
                <li class="list-group-item">
                  <b>Total Amount Pending</b>
                  <a class="pull-right">{{ summary.amountRemaining | currency: "GHS" }}</a>
                </li>
                <li class="list-group-item">
                  <b>Amount Borrowed With Interest</b>
                  <a class="pull-right">{{
                    summary?.amountBorrowedWithInterest | currency: "GHS"
                  }}</a>
                </li>
                <li class="list-group-item">
                  <b>Amount Paid</b>
                  <a class="pull-right">
                    {{ summary?.amountPaid | currency: "GHS" }}</a
                  >
                </li>
              </ul>

              <ul class="list-group list-group-unbordered" *ngIf="profile$ | async as profile">
                <li class="list-group-item">
                  <b>Current Payment Date</b>
                  <a class="pull-right">
                    {{ profile.getLoan("next_payment_date") | date }}</a
                  >
                </li>
              </ul>

              <a
                class="btn btn-primary btn-block"
                data-toggle="modal"
                data-target="#myModal"
                ><b>Change Pin</b></a
              >
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="card-profile padding" style="background: #fff;">
          <div class="card-avatar">
            <img
              class="img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcvw5wPa0-8lvD524_2hVyIxrQ4J6T6uWFzbTpm7ltceF38ZbN"
            />
          </div>

          <div class="card-content" *ngIf="user$ | async as user">
            <div>
              <h6
                class="category text-gray"
                style="color: #000; font-weight: bold;"
              >
                {{ user.firstname }} {{ user.lastname }}
              </h6>
              <h4 class="card-title">Employer id: {{ user.empcode }}</h4>
              <h4 class="card-title">
                Employer Name: {{ user.getEmployer("name") }}
              </h4>
            </div>

            <br />
            <hr />

            <div class="row" *ngIf="profile$ | async as profile">
              <div class="row sum">
                <div class="col-md-6">
                  Total Loans Taken
                </div>
                <div class="col-md-4">
                  {{ profile.loans_count }}
                </div>
              </div>

              <div class="row sum">
                <div class="col-md-6">
                  Loans Successful
                </div>
                <div class="col-md-4">
                  {{ profile.loans_successful }}
                </div>
              </div>

              <div class="row sum">
                <div class="col-md-6">
                  Loans Failed
                </div>
                <div class="col-md-4">
                  {{ profile.loans_failed }}
                </div>
              </div>

              <div class="row sum">
                <div class="col-md-6">
                  Total Loans Amount
                </div>
                <div class="col-md-4">
                  {{ profile.total_loans_taken | currency: "GHS" }}
                </div>
              </div>

              <div class="row sum">
                <div class="col-md-6">
                  Total Loans Paid
                </div>
                <div class="col-md-4">
                  {{ profile.total_loan_paid | currency: "GHS" }}
                </div>
              </div>

              <div class="row sum">
                <div class="col-md-6">
                  Current Loan Amount
                </div>
                <div class="col-md-4">
                  {{ profile.current_loan | currency: "GHS" }}
                </div>
              </div>

              <div class="row sum">
                <div class="col-md-6">
                  Current Payment Date
                </div>
                <div class="col-md-4">
                  {{ profile.getLoan("next_payment_date") | date }}
                </div>
              </div>

              <div class="loader" *ngIf="loading$ | async"></div>
            </div>

            <br />
            <br />

            <a class="btn btn-raised" data-toggle="modal" data-target="#myModal"
              >Change Pin</a
            >
          </div>
        </div>
      </div> -->
    </div>

    <!-- Change Pin Modal-->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" [ngSwitch]="loading$ | async">
        <div class="modal-content" formGroupName="pin">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              <i class="material-icons">clear</i>
            </button>
            <h4 class="modal-title">Change Your Pin</h4>
          </div>

          <hr />

          <div class="modal-body" *ngSwitchCase="false">
            <div class="row text-row">
              <input
                type="password"
                placeholder="Old Pin"
                class="input"
                formControlName="oldpassword"
              />
            </div>
            <br />
            <div class="row text-row">
              <input
                type="password"
                placeholder="New Pin"
                class="input"
                formControlName="newpassword"
              />
            </div>
            <br />

            <div class="modal-footer">
              <button
                [disabled]="loading$ | async"
                (click)="changePin()"
                type="button"
                class="btn btn-raised"
              >
                Save
              </button>
            </div>
          </div>

          <div class="loader" *ngSwitchCase="true"></div>

          <br />
        </div>
      </div>
      <!--  End Change Pin Modal -->
    </div>
  </div>
</div>
