<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" [formGroup]="formGroup">
        <div
          class="padding"
          style="
            background: #fff;
            border-radius: 4px;
            border-radius: 4px;
            border-top: 2px solid #0b88d55e;
          "
        >
          <div class="form-horizontal">
            <div
              class="card-header card-header-text"
              data-background-color="rose"
            >
              <div
                class="row"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  align-content: center;
                  margin-bottom: -20px;
                "
              >
                <div class="col-md-5">
                  <h4 class="card-title">Choose Your service</h4>
                </div>
                <div class="col-md-7">
                  <select (change)="onChange($event)">
                    <option
                      [value]="service._id"
                      *ngFor="let service of services$ | async"
                    >
                      {{ service.name }}
                    </option>
                  </select>
                </div>
              </div>
              <br />
              <div *ngIf="selected">
                <!-- AIRTIME services -->
                <div *ngIf="selected.getType() === 'a'">
                  <div
                    class="row"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      align-content: center;
                    "
                  >
                    <div class="col-md-5">
                      <h4 class="card-title">
                        Choose Plan
                      </h4>
                    </div>

                    <div class="col-md-7">
                      <select (change)="getList($event)">
                        <option
                          [value]="list.planName"
                          *ngFor="let list of serviceList$ | async"
                        >
                          {{ list.planName }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="serviceList.length > 0"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      align-content: center;
                      margin-bottom: -21px;
                    "
                  >
                    <div class="col-md-5">
                      <h4 class="card-title">Choose Bundle</h4>
                    </div>
                    <div class="col-md-7">
                      <select (change)="getListItem($event)">
                        <option
                          [value]="list.productID"
                          *ngFor="let list of serviceList"
                        >
                          {{ list.getDescription() }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <br />

                  <!-- Enter Payment Details -->
                  <div
                    class="row"
                    *ngIf="serviceListItem"
                    style="margin-top: 12px;"
                  >
                    <div class="col-md-5">
                      <h4 class="card-title">
                        Enter purchaase details
                      </h4>
                    </div>
                    <div class="col-md-7" [formGroupName]="selected.getType()">
                      <fieldset
                        [hidden]="selected.getDisabled(form)"
                        *ngFor="let form of selected.getForms()"
                      >
                        <input
                          type="text"
                          class="form-control"
                          [formControlName]="form"
                          [placeholder]="selected.getPlaceholder(form)"
                        />
                      </fieldset>
                    </div>
                  </div>
                </div>
                <!-- AIRTIME end -->

                <!-- DSTV services -->
                <div *ngIf="selected.getType() === 'b'">
                  <div class="row">
                    <div class="col-md-12" style="display: flex;">
                      <h4 class="card-title">Enter customer number</h4>
                    </div>
                  </div>
                  <div class="row" style="display: flex;">
                    <div class="col-md-8" [formGroupName]="selected.getType()">
                      <fieldset
                        [hidden]="selected.getDisabled(form)"
                        *ngFor="let form of selected.getForms()"
                      >
                        <input
                          type="text"
                          class="form-control"
                          [formControlName]="form"
                          [placeholder]="selected.getPlaceholder(form)"
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-4">
                      <button (click)="getDetails()" class="btn btn-raised">
                        find
                      </button>
                    </div>
                  </div>

                  <br />
                  <div class="row" *ngIf="serviceList$ | async as service">
                    <div *ngIf="service.number">
                      <div class="col-md-5">
                        <h4 class="card-title">Customer details</h4>
                      </div>
                      <div class="col-md-6">
                        <p>Name: {{ service.name }}</p>
                        <p>Number: {{ service.number }}</p>
                        <p>Phone Number: {{ service.mobilePhone }}</p>
                        <p>Due Date: {{ service.dueDate | date }}</p>
                        <p>Type: {{ service.type }}</p>
                        <p>Home Telephone: {{ service.homeTelephone }}</p>
                        <p>Status: {{ service.status }}</p>
                        <br />
                        <p>Balance: {{ service.balance | currency: "Ghs" }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- DSTV end -->
              </div>
              <br />
            </div>

            <hr />

            <div class="card-content">
              <h4 class="card-title">
                <b
                  style="
                    font-size: 20px;
                    color: #000;
                    font-weight: 600;
                    opacity: 0.6;
                    margin-bottom: 20px;
                  "
                  >Enter payment details</b
                >
              </h4>
              <!-- TO MOMO -->
              <div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Wallet Account</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="account_number"
                        maxlength="10"
                      />
                      <span class="help-block" style="line-height: 13px;"
                        >Please provide a wallet account to which money will be
                        received</span
                      >
                    </div>
                  </div>
                </div>

                <div class="row center-aligned">
                  <div class="col-md-12">
                    <div class="form-group label-floating">
                      <select
                        formControlName="account_issuer"
                        style="margin-bottom: 10px;"
                        class="form-control"
                      >
                        <option value="MTN">Mtn</option>
                        <option value="TIGO">Tigo</option>
                        <option value="VODAFONE">Vodafone</option>
                        <option value="AIRTEL">Airtel</option>
                      </select>
                      <span class="help-block" style="line-height: 13px;"
                        >Choose Network</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END BANK ACCOUNT -->

              <br />
              <br />

              <div class="row">
                <div class="col-md-3">
                  <button
                    [disabled]="loading$ | async"
                    [ngSwitch]="loading$ | async"
                    class="btn btn-raised"
                    (click)="send()"
                  >
                    <span>pay</span>
                    <i
                      class="fa fa-spinner fa-spin"
                      *ngSwitchCase="true"
                      aria-hidden="true"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="card-content padding"
          style="
            background: #fff;
            border-radius: 4px;
            border-top: 2px solid #0b88d55e;
            padding: 30px;
          "
        >
          <div class="row">
            <b
              style="
                font-size: 20px;
                color: #000;
                font-weight: 600;
                opacity: 0.6;
                margin-bottom: 20px;
              "
              >Transactions</b
            >
          </div>
          <br>
          <div class="row content table-responsive">
            <table class="table table-bordered">
              <thead class="text-primary">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let bill of bills$
                      | async
                      | paginate: { itemsPerPage: 10, currentPage: p };
                    let i = index
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ bill.name }}</td>
                  <td>{{ bill.getAmount() | currency: "Ghs" }}</td>
                  <td>{{ bill.getStatus() }}</td>
                  <td>{{ bill.createdAt | date }}</td>
                </tr>
              </tbody>
            </table>

            <!-- <p style="padding: 10%">You don't have any loan request</p> -->
            <div class="loader" *ngIf="loading$ | async"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
