<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="card-title">
                    <b>Customer Loans</b>
                </h4>
            </div>
        </div>
        <br>
        <div class="row" *ngIf="openTransactions">
            <div class="row">
                <div class="col-md-offset-11 col-md-1">
                    <button (click)="openTransactions=false">
                        close
                    </button>
                </div>
            </div>
            <br>
            <div class="col-md-12" *ngIf="transactions$ | async as transactions">
                <div class="card-content" *ngIf="transactions.length>0">
                    <table class="table table-bordered white">
                        <thead class="text-primary">
                          <tr>
                              <th>Loan Type</th>
                            <th>Account Number</th>
                            <th>Account Issuer</th>
                            <th>Amount</th>
                            <th>Transaction Type</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let transaction of transactions;let i = index"
                          >
                            <td>{{ transaction.service_type }}</td>
                            <td>{{ transaction.account_number }}</td>
                            <td>{{ transaction.account_issuer }}</td>
                            <td>{{ transaction.amount | currency: "GHS" }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.status }}</td>
                            <td>{{ transaction.createdAt | date }}</td>
                            <td>{{ transaction.createdAt | date:'shortTime' }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <input 
                    type="text"
                    style="width: 100%"
                    placeholder="search employer"
                    (keyup)="onSearch($event)"
                >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" style="background: #fff;">
                    <div class="card-content padding">
                        <div class="content table-responsive">
                          <table class="table table-bordered" [ngSwitch]="onsearch">
                                  <thead class="text-primary">
                                      <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Employer</th>
                                        <th>Amount</th>
                                        <th>Rate</th>
                                        <th>Amount Due</th>
                                        <th>Penalty</th>
                                        <th>Payment Date</th>
                                        <th>Date Received</th>
                                        <th>Duration</th>
                                        <th>Status</th>
                                        <th class="text-right">view</th>
                                        <th class="text-right">List</th>
                                      </tr>
                                  </thead>
                                <tbody *ngSwitchCase="false">
                                    <tr *ngFor="let loan of loans$ | async | paginate: { itemsPerPage: 15, currentPage: p }; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ loan.getName() }}</td>
                                        <td>{{ loan.getEmployer('name') }}</td>
                                        <td>{{ loan.amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.rate }}</td>
                                        <td>{{ loan.amount_remaining | currency: 'GHS' }}</td>
                                        <td>{{ loan.penalty_amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.next_payment_date | date  }}</td>
                                        <td>{{ loan.createdAt | date }}</td>
                                        <td>{{ loan.getDuration() }}</td>
                                        <td>{{ loan.getStatus() }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-fab btn-fab-mini btn-raised" 
                                                data-toggle="modal" 
                                                data-target="#myModal"
                                                (click)="openDetails(loan)"
                                            >
                                                <i class="material-icons">view_list</i>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-fab btn-fab-mini btn-raised" 
                                                (click)="loadTransactions(loan)"
                                            >
                                            <i class="material-icons">list</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngSwitchCase="true">
                                    <tr *ngFor="let loan of filter;let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ loan.getName() }}</td>
                                        <td>{{ loan.getEmployer('name') }}</td>
                                        <td>{{ loan.amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.rate }}</td>
                                        <td>{{ loan.amount_remaining | currency: 'GHS' }}</td>
                                        <td>{{ loan.penalty_amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.next_payment_date | date  }}</td>
                                        <td>{{ loan.createdAt | date }}</td>
                                        <td>{{ loan.getDuration() }}</td>
                                        <td>{{ loan.getStatus() }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-fab btn-fab-mini btn-raised" 
                                                data-toggle="modal" 
                                                data-target="#myModal"
                                                (click)="openDetails(loan)"
                                            >
                                                <i class="material-icons">view_list</i>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-fab btn-fab-mini btn-raised" 
                                                (click)="loadTransactions(loan)"
                                            >
                                            <i class="material-icons">list</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>

                          <!-- <p style="padding: 10%">You don't have any loan request</p> -->
                          <div class="loader" *ngIf="loading$ | async"></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br>
         <!-- Pagination Controls Here -->
         <pagination-controls (pageChange)="p = $event"></pagination-controls>
         <!-- End Controls -->

       <!-- Details Modal-->
       <div
            class="modal fade" 
            id="myModal" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="myModalLabel" 
            aria-hidden="true"
        >
                <div class="modal-dialog" *ngIf="selected">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal" 
                                aria-hidden="true"
                            >
                                <i class="material-icons">clear</i>
                            </button>
                            <h4 class="modal-title">Loan Details</h4>
                        </div>
                        <hr>

                        <div class="modal-body">
                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Fullname</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.getName() }}</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Loan Amount</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.amount | currency: 'GHS' }}</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Loan Rate</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.rate }}%</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Max Loan</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.maxLoan }}</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Amount Due</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.amount_remaining | currency: 'GHS' }}</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Amount Paid</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.amount_paid | currency: 'GHS' }}</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Amount remaining</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.amount_remaining | currency: 'GHS' }}</p>
                                </div>
                            </div>
                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Penalty</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.penalty }}%</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Penalty Amount</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.penalty_amount | currency: 'GHS' }}</p>
                                </div>
                            </div>

                            <!-- <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Penalty Status</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.penalty_status }}</p>
                                </div>
                            </div> -->

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Defaulted</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.getDefaulted() }}</p>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">
                                    <p>Date Applied</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="bold"
                                        style="text-align: right"
                                    >{{ selected.createdAt | date }}</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
       <!--  End Details Modal -->

       <!-- Start Payment Details Modal -->
       <div
            class="modal fade" 
            id="payModal" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="myModalLabel" 
            aria-hidden="true"
        >
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal" 
                                aria-hidden="true"
                            >
                                <i class="material-icons">clear</i>
                            </button>
                            <h4 class="modal-title">Payment Details</h4>
                        </div>

                        <hr>

                        <div class="modal-body" [formGroup]="formGroup" *ngIf="selected">
                            <div class="row">
                                <div class="limiter">
                                    <div class="container-login100">
                                        <div class="wrap-login100 p-t-85 p-b-20">
                                            <div class="login100-form validate-form">
                        
                                                <div
                                                    style="
                                                        padding: 10px;
                                                        font-size: 20px;
                                                    "
                                                >
                                                    Please enter <b>Account Details</b> you want to make payment from
                                                </div>
                        
                                                <br>

                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <h4 class="card-title">Select Account</h4>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select formControlName="account_type">
                                                            <option value="bank">Bank</option>
                                                            <option value="momo">Momo</option>
                                                        </select>
                                                    </div>
                                                </div>
                        
                                                <!-- BANK ACCOUNT -->
                                <div *ngIf="formGroup.get('account_type').value === 'bank'">
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">Bank Account</label>
                                        <div class="col-sm-8">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="text" class="form-control" formControlName="account_number">
                                                <span class="help-block">Please provide a bank account to which  money will be received</span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">Select Bank</label>
                                        <div class="col-sm-8">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <select formControlName="account_issuer">
                                                    <option [value]="bank.Bank_Name" *ngFor="let bank of banks">
                                                        {{ bank.Bank_Name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END BANK ACCOUNT -->

                                <!-- TO MOMO -->
                                <div *ngIf="formGroup.get('account_type').value === 'momo'">
                                        <div class="row">
                                            <label class="col-sm-4 label-on-left">Wallet Account</label>
                                            <div class="col-sm-8">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <input type="text" class="form-control" formControlName="account_number">
                                                    <span class="help-block">Please provide a wallet account to which  money will be received</span>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <label class="col-md-4">Select Network</label>
                                            <div class="col-md-8">
                                                <select formControlName="account_issuer">
                                                    <option value="MTN">Mtn</option>
                                                    <option value="TIGO">Tigo</option>
                                                    <option value="VODAFONE">Vodafone</option>
                                                    <option value="AIRTEL">Airtel</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END BANK ACCOUNT -->  

                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">Enter Amount</label>
                                        <div class="col-sm-8">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="text" class="form-control" formControlName="amount" [value]="selected.amount_remaining">
                                            </div>
                                        </div>
                                    </div>
                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>

                        <div class="modal-footer">
                            <button 
                                (click)="payLoan()"
                                type="button" 
                                data-dismiss="modal" 
                                class="btn btn-raised">
                                Pay
                            </button>
                        </div>

                    </div>
                </div>

            </div>
       <!--  End Payment Details -->


    </div>
</div>
