<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card-content white" *ngIf="selected">
                    <div class="row" style="padding:20px;">
                        <div class="col-md-11">
                            <p>Edit Customer</p>
                        </div>
                        <div class="col-md-1">
                            <button 
                                type="button" 
                                (click)="selected=null"
                            >
                                close
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="padding: 10px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Customer firstname</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                [(ngModel)]="selected.firstname"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Last Name</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                [(ngModel)]="selected.lastname"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email</label>
                                            <input 
                                                type="email" 
                                                class="form-control" 
                                                [(ngModel)]="selected.email"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Mobile Phone Number</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                [(ngModel)]="selected.mobile"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <input 
                                                type="text" 
                                                class="form-control"
                                                [(ngModel)]="selected.maxnet"
                                            >
                                            <label class="control-label">Net Income</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Gender</label>
                                            <select class="form-control" [(ngModel)]="selected.gender">
                                                <option value="">-----Gender-----</option>
                                                <option value="MALE">Male</option>
                                                <option value="FEMALE">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Date Of Birth</label>
                                            <input 
                                                type="date" 
                                                [(ngModel)]="selected.dob"
                                                class="form-control"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Approval Status</label>
                                            <select disabled class="form-control" [(ngModel)]="selected.approved">
                                                <option value="true">Approved</option>
                                                <option value="false">Not Approved</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button
                                            (click)="save()"
                                            class="btn"
                                        >
                                            save
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input 
                            type="text"
                            style="width: 100%"
                            placeholder="search customers"
                            (keyup)="onSearch($event)"
                        >
                    </div>
                    <div class="col-md-2">
                        <button
                            (click)="approve('ALL')"
                            style="
                                background:#0B88D5;
                                color: #fff;
                                border: none;
                                padding: 5px;
                                border-radius: 2px;
                            "
                        >APPROVE ALL EMPLOYEES</button>
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="card-title">
                        <b>Customer List</b>
                    </h4>
                    <br>
                    <div class="content table-responsive">
                      <table class="table table-bordered padding white" [ngSwitch]="onsearch">
                              <thead class="text-primary">
                                  <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Income</th>
                                    <th>Approval Status</th>
                                    <th class="text-right">View</th>
                                    <th class="text-right">Action</th>
                                  </tr>
                              </thead>
                            <tbody *ngSwitchCase="false">
                                <tr *ngFor="let customer of customers$ | async | paginate: { itemsPerPage: 15, currentPage: p }; let i = index;">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ customer.firstname }}</td>
                                    <td>{{ customer.lastname }}</td>
                                    <td>{{ customer.gender }}</td>
                                    <td>{{ customer.mobile }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ customer.maxnet | currency: 'GHS' }}</td>
                                    <td class="text-center">{{ customer.getApproved() }}</td>
                                    <td class="text-right">
                                        <button 
                                            class="btn btn-raised btn-fab btn-fab-mini" 
                                            data-toggle="modal"
                                            data-target="#myModal"
                                            (click)="onSelected(customer)"
                                        >
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <select (change)="onAction($event,customer)">
                                            <option value="">---------choose action-----------</option>
                                            <option value="approve">Approve</option>
                                            <option value="unapprove">Not Approved</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody *ngSwitchCase="true">
                                <tr *ngFor="let customer of filter;let i = index;">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ customer.firstname }}</td>
                                    <td>{{ customer.lastname }}</td>
                                    <td>{{ customer.gender }}</td>
                                    <td>{{ customer.mobile }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ customer.maxnet | currency: 'GHS' }}</td>
                                    <td class="text-center">{{ customer.getApproved() }}</td>
                                    <td class="text-right">
                                        <button 
                                            class="btn btn-raised btn-fab btn-fab-mini" 
                                            data-toggle="modal"
                                            data-target="#myModal"
                                            (click)="onSelected(customer)"
                                        >
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <select (change)="onAction($event,customer)">
                                            <option value="">---------choose action-----------</option>
                                            <option value="approve">Approve</option>
                                            <option value="unapprove">Not Approved</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>

                            <br>
                      </table>

                      <div class="col-md-12" *ngIf="loading$ | async">
                            <div class="div"
                                style="
                                    justify-content: center; 
                                    align-items: center;
                                    display: flex;
                                    margin-right: auto;
                                    margin-left: auto;
                                "
                            >
                                <div class="loader"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- Pagination Controls Here -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!-- End Controls -->


    </div>
</div>
