<div class="main-content">
    <div class="container-fluid">
      <div class="row">
            <div class="col-md-8" 
                [formGroup]="formGroup" 
                style="
                    border-radius: 4px;
                    border-top: 2px solid #0b88d55e;
                "
            >
                <div
                    class="row white"
                    formGroupName="settings"
                >
                    <div class="col-md-12">
                        <div class="row" style="padding:20px;">
                            <div class="col-md-11">
                                <p>Loan Settings</p>
                            </div>
                            <div class="col-md-1">
                                <button 
                                    type="button" 
                                    (click)="clear()"
                                >
                                    clear
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <select 
                                        type="text"
                                        class="form-control"
                                        formControlName="employer"
                                    >
                                        <option value="">choose employer</option>
                                        <option [value]="employer._id" *ngFor="let employer of employers$ | async;">
                                            {{ employer.name }}
                                        </option>
                                    </select>
                                    <label class="help-block">Choose Employer</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Enter Penalty (%)</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        formControlName="penalty"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Interest Rate (%)</label>
                                <input
                                type="number"
                                class="form-control"
                                formControlName="rate"
                                />
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Loan Duration</label>
                                    <input
                                    type="number"
                                    class="form-control"
                                    formControlName="duration"
                                    max="31"
                                    maxlength="2"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Duration Type</label>
                                <select 
                                type="text"
                                class="form-control"
                                formControlName="duration_type"
                                >
                                    <option selected value="months">Months</option>
                                    <option selected value="weeks">Weeks</option>
                                    <option selected value="days">Days</option>
                                    <option selected value="hours">Hours</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Borrow Limit (%)</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    formControlName="borrow_limit"
                                />
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row white">
                    <div class="col-md-12">
                        <h4>Invoice Issue Dates</h4>
                    </div>
                </div>
                <div class="row white" formGroupName="salaries">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <input
                                        type="number"
                                        class="form-control"
                                        formControlName="salary_payment_date"
                                        max="31"
                                        maxlength="2"
                                    />
                                    <label class="help-block">Date Invoice will be issued</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <input
                                        type="number"
                                        class="form-control"
                                        formControlName="salary_payment_day"
                                        max="31"
                                        maxlength="2"
                                    />
                                    <label class="help-block">Invoice Payment Day</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <button
                                    (click)="save()"
                                >Save</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row white">
            <div class="col-md-12">
                <div class="row white">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Borrowing Limit</th>
                                    <th>Penalty</th>
                                    <th>Interest Rate</th>
                                    <th>Loan Duration</th>
                                    <th>Duration Type</th>
                                    <th>Employer</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let setting of settings$ | async;">
                                    <td>{{ setting.borrow_limit }}</td>
                                    <td>{{ setting.penalty }}</td>
                                    <td>{{ setting.rate }}</td>
                                    <td>{{setting.duration}}</td>
                                    <td>{{setting.duration_type}}</td>
                                    <td>{{setting.getEmployerName()}}</td>
                                    <td>
                                        <button (click)="edit(setting)">edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  