<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8" [formGroup]="formGroup">
                <div class="padding white">
                    <div class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Add Customer</h4>
                        </div>
                        <br>
                        <div class="card-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <select class="form-control" formControlName="empId">
                                            <option selected value="">----choose employer----</option>
                                            <option [value]="employer._id" *ngFor="let employer of employers$ | async">
                                                {{ employer.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" formControlName="firstname">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" formControlName="lastname">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Select Gender</label>
                                        <select formControlName="gender" class="form-control">
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" formControlName="email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone</label>
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            formControlName="mobile"
                                            maxlength="10"
                                            minlength="10"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Net Salary</label>
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            formControlName="maxnet"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <input 
                                            type="date" 
                                            class="form-control"
                                            formControlName="dob"
                                        >
                                        <span class="help-block">customer date of birth</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <button 
                                        [disabled]="loading$ | async"
                                        class="btn btn-raised"
                                        (click)="save()"
                                    >
                                        Send
                                    </button>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
