<div class="row">
    <div class="col-md-12">
        <div class="slider" *ngIf="toggle">
            <div class="line"></div>
            <div class="subline inc"></div>
            <div class="subline dec"></div>
        </div>
    </div>
</div>