.slider {
  width: 100vw;
  height: 5px;
  overflow-x: hidden;
  position: absolute;
  /* margin-bottom: 15px; */
}

.line {
  position: absolute;
  opacity: 0.4;
  background: #a6d5f5;
  width: 150%;
  height: 5px;
}

.subline {
  position: absolute;
  background: #0d5dc5;
  height: 5px;
}

.inc {
  -webkit-animation: increase 2s infinite;
          animation: increase 2s infinite;
}

.dec {
  -webkit-animation: decrease 2s 0.5s infinite;
          animation: decrease 2s 0.5s infinite;
}

@-webkit-keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}

@-webkit-keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}

@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
/*# sourceMappingURL=progress-bar.component.css.map */