<nav #navbar class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">

        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
            </button>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">{{ (user$ | async)?.name }}</a>
        </div>

        <div class="collapse navbar-collapse">
            <div (window:resize)="onResize($event)">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">Dashboard</p>
                        </a>
                    </li> -->

                    <li class="dropdown">
                        <button
                            class="btn btn-fab-mini btn-fab btn-rose"
                            (click)="logout()"
                        >
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </button>
                        <!-- <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">lock</i>
                            <span class="notification">5</span>
                            <p class="hidden-lg hidden-md">
                                Notifications
                                <b class="caret"></b>
                            </p>
                        </a> -->
                        <!-- <ul class="dropdown-menu">
                            <li>
                                <a href="#">Mike John responded to your email</a>
                            </li>
                            <li>
                                <a href="#">You have 5 new tasks</a>
                            </li>
                            <li>
                                <a href="#">You're now friend with Andrew</a>
                            </li>
                            <li>
                                <a href="#">Another Notification</a>
                            </li>
                            <li>
                                <a href="#">Another One</a>
                            </li>
                        </ul> -->
                    </li>

                    <!-- <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                    </li> -->

                    <li class="separator hidden-lg hidden-md"></li>
                </ul>

                <div class="navbar-form navbar-right" role="search">
                    <!-- <div class="form-group form-search is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div> -->
                    <!-- <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button> -->
                </div>
            </div>
        </div>

    </div>
</nav>

<div *ngIf="(account_type$ | async) === 'admin' && summary$ | async as summary">
    <div class="row" style="height: 50px; margin: 80px;">
        <div class="col-md-2">
            <div style="background: #fff;padding: 20px;width: 150px;border-radius: 10px;">
                <h4>Total Loans Borrowed</h4>
                <b>{{ summary.loans?.amountBorrowed || 0 | currency:'GHS' }}</b>
            </div>
        </div>
        <div class="col-md-2">
            <div style="background: #fff;padding: 20px;width: 150px;border-radius: 10px;">
                <h4>Total Loans Borrowed With Interest</h4>
                <b>{{ summary.loans?.amountBorrowedWithInterest || 0 | currency:'GHS' }}</b>
            </div>
        </div>
        <div class="col-md-2">
            <div style="background: #fff;padding: 20px;width: 150px;border-radius: 10px;">
                <h4>Total Payments Made</h4>
                <b>{{ summary.loans?.totalPayment || 0 | currency:'GHS' }}</b>
            </div>
        </div>
        <div class="col-md-2">
            <div style="background: #fff;padding: 20px;width: 150px;border-radius: 10px;">
                <h4>Total Amount Remaining</h4>
                <b>{{ summary.loans?.amountRemaining | currency: 'GHS' }}</b>
            </div>
        </div>
        <div class="col-md-2">
            <div style="background: #fff;padding: 20px;width: 150px;border-radius: 10px;">
                <h4>Total Customers</h4>
                <b>{{ summary?.customers }}</b>
            </div>
        </div>
        <div class="col-md-2">
            <div style="background: #fff;padding: 20px;width: 150px;border-radius: 10px;">
                <h4>Total Employers</h4>
                <b>{{ summary?.employer }}</b>
            </div>
        </div>
    </div>
</div>

<br>


