<div class="sidebar-wrapper">
  <div class="user">
    <div class="photo">
      <img src="../../assets/img/logo2.png" />
    </div>

    <br />
    <br />

    <div class="info">
      <a
        data-toggle="collapse"
        href="#collapseExample"
        class="collapsed"
        *ngIf="user$ | async as user"
      >
        <span *ngIf="account_type === 'employer'">
          {{ user["employer_name"] }}
          <!-- <b class="caret"></b> -->
        </span>
        <span *ngIf="account_type === 'user'">
          {{ user.firstname }}
          <!-- <b class="caret"></b> -->
        </span>
      </a>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
          <!-- <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li> -->
          <!-- <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="nav-container">
    <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
        <!--If is a single link-->
        <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
          <i class="material-icons">{{ menuitem.icontype }}</i>
          <p>{{ menuitem.title }}</p>
        </a>
        <!--If it have a submenu-->
        <a
          data-toggle="collapse"
          href="#{{ menuitem.collapse }}"
          *ngIf="menuitem.type === 'sub'"
          (click)="updatePS()"
        >
          <i class="material-icons">{{ menuitem.icontype }}</i>
          <p>{{ menuitem.title }}<b class="caret"></b></p>
        </a>

        <!--Display the submenu items-->
        <div
          id="{{ menuitem.collapse }}"
          class="collapse"
          *ngIf="menuitem.type === 'sub'"
        >
          <ul class="nav">
            <li
              routerLinkActive="active"
              *ngFor="let childitem of menuitem.children"
            >
              <a [routerLink]="[menuitem.path, childitem.path]">
                <span class="sidebar-mini">{{ childitem.ab }}</span>
                <span class="sidebar-normal">{{ childitem.title }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- <li>
                    <div class="logo-img">
                        <img src="/assets/img/logo.jpg"/>
                    </div>
                </li> -->
    </ul>
  </div>
</div>
