<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card-content white" *ngIf="selected">

                    <div class="row" style="padding:20px;">
                        <div class="col-md-11">
                            <p>Edit Customer</p>
                        </div>
                        <div class="col-md-1">
                            <button 
                                type="button" 
                                (click)="selected=null"
                            >
                                close
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="padding: 10px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Name</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                [(ngModel)]="selected.name"
                                            >
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">employer mobile</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                [(ngModel)]="selected.mobile"
                                            >
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Digital Address</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                [(ngModel)]="selected.digital_address"
                                            >
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Address</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                [(ngModel)]="selected.address"
                                            >
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Location</label>
                                            <input 
                                                type="text" 
                                                class="form-control"
                                                [(ngModel)]="selected.location"
                                            >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email</label>
                                            <input
                                                type="email" 
                                                class="form-control"
                                                [(ngModel)]="selected.email"
                                            >
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Amount Due</label>
                                            <input 
                                                type="text" 
                                                class="form-control"
                                                [(ngModel)]="selected.payment_due"
                                            >
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Total Customers</label>
                                            <input 
                                                type="text" 
                                                class="form-control"
                                                disabled
                                                [(ngModel)]="selected.total_customers"
                                            >
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Block Employer</label>
                                            <select class="form-control" [(ngModel)]="selected.blocked">
                                                <option value="true">Blocked</option>
                                                <option value="false">Not Blocked</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12" [ngSwitch]="selected.status==='pending approval'">
                                        <button
                                        *ngSwitchCase="false"
                                            (click)="save()"
                                            class="btn"
                                        >
                                            save
                                        </button>
                                        <button
                                        *ngSwitchCase="true"
                                            (click)="approve()"
                                            class="btn"
                                        >
                                            approve
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>


            </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <input 
                                type="text"
                                style="width: 100%"
                                placeholder="search employer"
                                (keyup)="onSearch($event)"
                            >
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content table-responsive">
                          <table class="table padding white" [ngSwitch]="onsearch">
                                  <thead class="text-primary">
                                      <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Cash Back</th>
                                        <th>No. of Customers</th>
                                        <th>Total Loan Count</th>
                                        <th>Total Loan Borrowed</th>
                                        <th>Loan Due</th>
                                        <th>Blocked</th>
                                        <th>Date added</th>
                                        <th>Status</th>
                                        <th class="text-right">Edit</th>
                                        <th class="text-right">Action</th>
                                      </tr>
                                  </thead>
                                <tbody *ngSwitchCase="false">
                                    <tr *ngFor="let employer of employers$ | async | paginate: { itemsPerPage: 15, currentPage: p }; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ employer.empcode }}</td>
                                        <td>{{ employer.name }}</td>
                                        <td>{{ employer.cash_back | currency:'GHS' }}</td>
                                        <td>{{ employer.total_customers }}</td>
                                        <td>{{ employer.total_loan_count }}</td>
                                        <td>{{ employer.total_loan_amount | currency:'GHS' }}</td>
                                        <td>{{ employer.total_loan_due | currency:'GHS' }}</td>
                                        <td>{{ employer.blocked }}</td>
                                        <td>{{ employer.createdAt | date }}</td>
                                        <td>{{ employer.status }}</td>
                                        <td class="text-right">
                                            <button 
                                                class="btn btn-raised btn-fab btn-fab-mini" 
                                                data-toggle="modal"
                                                data-target="#myModal"
                                                (click)="onSelected(employer)"
                                            >
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button
                                                [disabled]="employer.status==='pending approval'"
                                                *ngIf="!employer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(employer)"
                                            >
                                                <i class="material-icons">lock_open</i>
                                            </button>
                                            <button
                                                [disabled]="employer.status==='pending approval'"
                                                *ngIf="employer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(employer)"
                                            >
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngSwitchCase="true">
                                    <tr *ngFor="let employer of filter;let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ employer.empcode }}</td>
                                        <td>{{ employer.name }}</td>
                                        <td>{{ employer.cash_back | currency:'GHS' }}</td>
                                        <td>{{ employer.total_customers }}</td>
                                        <td>{{ employer.total_loan_count }}</td>
                                        <td>{{ employer.total_loan_amount | currency:'GHS' }}</td>
                                        <td>{{ employer.total_loan_due | currency:'GHS' }}</td>
                                        <td>{{ employer.blocked }}</td>
                                        <td>{{ employer.createdAt | date }}</td>
                                        <td>{{ employer.status }}</td>
                                        <td class="text-right">
                                            <button 
                                                class="btn btn-raised btn-fab btn-fab-mini" 
                                                data-toggle="modal"
                                                data-target="#myModal"
                                                (click)="onSelected(employer)"
                                            >
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button
                                                *ngIf="!employer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(employer)"
                                            >
                                                <i class="material-icons">lock_open</i>
                                            </button>
                                            <button
                                                *ngIf="employer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(employer)"
                                            >
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                                <br>
                          </table>

                          <div class="col-md-12" *ngIf="loading$ | async">
                                <div class="div"
                                    style="
                                        justify-content: center; 
                                        align-items: center;
                                        display: flex;
                                        margin-right: auto;
                                        margin-left: auto;
                                    "
                                >
                                    <div class="loader"></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                

            </div>
        </div>

        <!-- Pagination Controls Here -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!-- End Controls -->



    </div>
</div>
