<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <input 
                                type="text"
                                style="width: 100%"
                                placeholder="search customers"
                                (keyup)="onSearch($event)"
                            >
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content table-responsive">

                          <table class="table padding white" [ngSwitch]="onsearch">
                                  <thead class="text-primary">
                                      <tr>
                                        <th>#</th>
                                        <th>Employer</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Gender</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Income</th>
                                        <th>Approved</th>
                                        <th class="text-right">Edit</th>
                                        <th class="text-right">Action</th>
                                      </tr>
                                  </thead>
                                <tbody *ngSwitchCase="false">
                                    <tr *ngFor="let customer of customers$ | async | paginate: { itemsPerPage: 15, currentPage: p }; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ customer.getEmployer('name') }}</td>
                                        <td>{{ customer.firstname }}</td>
                                        <td>{{ customer.lastname }}</td>
                                        <td>{{ customer.gender }}</td>
                                        <td>{{ customer.mobile }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.maxnet | currency: 'GHS' }}</td>
                                        <td>{{ customer.getApproved() }}</td>
                                        <td class="text-right">
                                            <button 
                                                class="btn btn-raised btn-fab btn-fab-mini" 
                                                data-toggle="modal"
                                                data-target="#myModal"
                                                (click)="onSelected(customer)"
                                            >
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button
                                                *ngIf="!customer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(customer)"
                                            >
                                                <i class="material-icons">lock_open</i>
                                            </button>
                                            <button
                                                *ngIf="customer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(customer)"
                                            >
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngSwitchCase="true">
                                    <tr *ngFor="let customer of filter;let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ customer.getEmployer('name') }}</td>
                                        <td>{{ customer.firstname }}</td>
                                        <td>{{ customer.lastname }}</td>
                                        <td>{{ customer.gender }}</td>
                                        <td>{{ customer.mobile }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.maxnet | currency: 'GHS' }}</td>
                                        <td>{{ customer.getApproved() }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-rose btn-raised btn-fab btn-fab-mini" 
                                                data-toggle="modal" 
                                                data-target="#myModal"
                                                (click)="onSelected(customer)"
                                            >
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button
                                                *ngIf="!customer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(customer, 'EDIT')"
                                            >
                                                <i class="material-icons">lock_open</i>
                                            </button>
                                            <button
                                                *ngIf="customer.blocked"
                                                class="btn btn-rose btn-raised btn-fab btn-fab-mini"
                                                (click)="block(customer)"
                                            >
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                                <br>
                          </table>

                          <div class="col-md-12" *ngIf="loading$ | async">
                                <div class="div"
                                    style="
                                        justify-content: center; 
                                        align-items: center;
                                        display: flex;
                                        margin-right: auto;
                                        margin-left: auto;
                                    "
                                >
                                    <div class="loader"></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                

            </div>
        </div>



        <!-- Pagination Controls Here -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!-- End Controls -->




        <!-- CUSTOMER EDIT MODAL -->
        <div
            class="modal fade" 
            id="myModal" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="myModalLabel" 
            aria-hidden="true"
        >

        <div class="modal-dialog" [ngSwitch]="loading$ | async">
            <div class="modal-content" *ngIf="selected">

                    <div class="modal-header">
                        <button 
                            type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-hidden="true"
                        >
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="modal-title">Edit Customer</h4>
                    </div>

                    <hr>

                    <div style="margin: 30px;">
                        <h3>Assign Employer to customer</h3>
                        <div class="row">
                            <div class="col-md-10">
                                <select style="height: 35px;width: 100%;" [(ngModel)]="selectedEmployer">
                                    <option selected value="">---choose employer---</option>
                                    <option 
                                        class="form-control" 
                                        [value]="employer._id" 
                                        *ngFor="let employer of employers$ | async;"
                                    >
                                        {{ employer.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button 
                                data-dismiss="modal" 
                                    (click)="assignEmployer()"
                                    style="height:35px;"
                                >assign</button>
                            </div>
                        </div>
                    </div>
                    
                    <br>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">First Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            [(ngModel)]="selected.firstname"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            [(ngModel)]="selected.lastname"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input 
                                            type="email" 
                                            class="form-control" 
                                            [(ngModel)]="selected.email"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            [(ngModel)]="selected.mobile"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Maximun Net</label>
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            [(ngModel)]="selected.maxnet"
                                        >
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Gender</label>
                                        <select class="form-control" [(ngModel)]="selected.gender">
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Date Of Birth</label>
                                        <input
                                            class="form-control"
                                            type="date" 
                                            [(ngModel)]="selected.dob"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Approve Employee</label>
                                        <select class="form-control" [(ngModel)]="selected.approved">
                                            <option value="true">Approved</option>
                                            <option value="false">Not Approved</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                    </div>
                    </div>

                    <div class="modal-footer">
                        <button
                            data-dismiss="modal" 
                            (click)="save()"
                            class="btn"
                        >
                            save
                        </button>
                    </div>



            </div>
        </div>


        </div>
        <!-- END CUSTOMER EDIT MODAL -->

    </div>
</div>
