<div class="main-content">
        <div class="container-fluid">
            <div class="row">

                    <div class="col-md-12">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-2">
                                            <button 
                                                class="btn btn-lg btn-raised"
                                                (click)="filePicker.click()"
                                                [disabled]="loading$ | async"
                                            >
                                                <span>Upload Csv</span>
                                            </button>
                                    </div>
                                    <div class="col-md-2">
                                            <button
                                                [ngSwitch]="uploading"
                                                class="btn btn-lg btn-success" 
                                                *ngIf="customers.length > 0"
                                                [disabled]="loading$ | async"
                                                (click)="send()"
                                            >
                                                <span>send</span>
                                            </button>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <input type="text" placeholder="search customer" style="width: 100%;" (keyup)="onSearch($event)">
                                </div>

                                <br>

                                <div class="card-content table-full-width ">
                                    <!-- <h4 class="card-title">Upload Customer</h4> -->
                                    <div class="table-responsive">
                                        <table class="table table-bordered padding white" [ngSwitch]="onsearch">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th>#</th>
                                                    <th>status</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Gender</th>
                                                    <th>Mobile</th>
                                                    <th>Email</th>
                                                    <th>Date of Birth</th>
                                                    <th class="text-right">Income</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngSwitchCase="false">
                                                <tr *ngFor="let customer of customers; let i = index;">
                                                    <td>{{ i + 1 }}</td>
                                                    <td>
                                                        <i *ngIf="customer.loading" style="color:green" class="fa fa-spinner fa-spin"></i>
                                                        <div *ngIf="!customer.loading">
                                                            <i *ngIf="customer.status === 'saved'" style="color:green" class="material-icons">check_circle</i>
                                                            <i *ngIf="customer.status === 'failed'" style="color:red" class="material-icons">cancel</i>
                                                            <i *ngIf="customer.status === 'pending'" class="fa fa-spinner"></i>
                                                        </div>
                                                    </td>
                                                    <td>{{ customer.firstname }}</td>
                                                    <td>{{ customer.lastname }}</td>
                                                    <td>{{ customer.gender }}</td>
                                                    <td>{{ customer.mobile }}</td>
                                                    <td>{{ customer.email }}</td>
                                                    <td>{{ customer.dob }}</td>
                                                    <td class="text-right">{{ customer.maxnet }}</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngSwitchCase="true">
                                                <tr *ngFor="let customer of filter; let i = index;">
                                                    <td>{{ i + 1 }}</td>
                                                    <td>{{ customer.firstname }}</td>
                                                    <td>{{ customer.lastname }}</td>
                                                    <td>{{ customer.gender }}</td>
                                                    <td>{{ customer.mobile }}</td>
                                                    <td>{{ customer.email }}</td>
                                                    <td>{{ customer.dob }}</td>
                                                    <td class="text-right">{{ customer.maxnet }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p *ngIf="customers.length === 0"
                                                style="
                                                    text-align: center;
                                                    margin: 10%;
                                                "
                                            >
                                            upload customers
                                        </p>
                                    </div>
        
                                </div>
                            </div>
                        </div>

                        <input 
                            type="file" 
                            style="display: none" 
                            #filePicker
                            (change)="uploader.onCSVChange($event)"
                        >

            </div>
        </div>
    </div>
    