<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" [formGroup]="formGroup">
        <div
          class="padding"
          style="
            background: #fff;
            border-radius: 4px;
            border-top: 2px solid #0b88d55e;
          "
        >
          <!-- <div class="form-horizontal"> -->
          <!-- <div class="card-header card-header-text" data-background-color="rose"> -->
          <div class="row center-aligned">
            <div class="col-md-5">
              <h4 class="card-title">
                Request Loan
              </h4>
            </div>
            <div class="col-md-7">
              <select formControlName="account_type">
                <option value="momo">Momo</option>
              </select>
            </div>
          </div>
          <!-- </div> -->

          <hr />

          <div class="card-content">
            <p
              style="
                font-size: 20px;
                color: #000;
                font-weight: 600;
                opacity: 0.6;
              "
            >
              You can only borrow between GHS1 and
              {{ borrowLimit | currency: "GHS" }}
            </p>

            <br />

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group label-floating">
                  <label class="control-label">
                    How much do you want to borrow (<span
                    style="font-weight: bold; color: #0e73b1;"
                    >{{ formGroup.get("amount").value | currency: "GHS" }}</span
                  >)
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="amount"
                    [max]="borrowLimit"
                    min="1"
                  />
                </div>
              </div>
            </div>

            <!-- BANK ACCOUNT -->
            <div *ngIf="formGroup.get('account_type').value === 'bank'">
              <div class="row center-aligned">
                <label class="col-sm-4 label-on-left">Bank Account</label>
                <div class="col-sm-8">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="account_number"
                    />
                    <span class="help-block"
                      >Please provide a bank account to which money will be
                      received</span
                    >
                  </div>
                </div>
              </div>

              <div class="row center-aligned">
                <label class="col-sm-4 label-on-left">Select Bank</label>
                <div class="col-sm-8">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <select formControlName="account_issuer">
                      <option
                        [value]="bank.Bank_Name"
                        *ngFor="let bank of banks"
                      >
                        {{ bank.Bank_Name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- END BANK ACCOUNT -->

            <!-- TO MOMO -->
            <div *ngIf="formGroup.get('account_type').value === 'momo'">
              <div class="row center-aligned">
                <div class="col-sm-12">
                  <div class="form-group label-floating">
                    <label class="control-label">Mobile Money Wallet</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="account_number"
                      maxlength="10"
                      minlength="10"
                    />
                    <span class="help-block"
                      >Please provide a wallet account to which money will be
                      received</span
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <select
                    class="form-control"
                    formControlName="account_issuer"
                  >
                    <option
                      style="background-image: url(../../assets/img/logo.png);"
                      value="MTN"
                      >Mtn</option
                    >
                    <option value="TIGO">Tigo</option>
                    <option value="VODAFONE">Vodafone</option>
                    <option value="AIRTEL">Airtel</option>
                  </select>
                  <span class="help-block"
                      >Choose Network</span
                    >
                </div>
              </div>
            </div>
            <!-- END BANK ACCOUNT -->

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group label-floating">
                  <label class="control-label">Enter your pin</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="pin"
                    maxlength="5"
                    minlength="5"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>

            <br />
            <br />

            <div class="row center-aligned">
              <div
                class="col-md-12"
                style="
                  display: flex;
                  justify-content: flex-end;
                  margin-top: -30px;
                "
              >
                <button
                  [disabled]="(loading$ | async)"
                  [ngSwitch]="loading$ | async"
                  class="btn btn-raised"
                  (click)="send()"
                >
                  <span *ngSwitchCase="false">request</span>
                  <i
                    class="fa fa-spinner fa-spin"
                    *ngSwitchCase="true"
                    aria-hidden="true"
                  ></i>
                </button>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
