<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8" [formGroup]="formGroup">
                <div class="padding white">
                    <div class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Pay Loan</h4>
                        </div>
                        <hr>
                        <div class="card-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Employer CODE</label>
                                        <input type="text" class="form-control" formControlName="employer">
                                        <span class="help-block">employer code eg. PL0000</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Invoice Id</label>
                                        <input type="text" class="form-control" formControlName="invoiceId">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Amount Paid</label>
                                        <input type="text" class="form-control" formControlName="amount">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <input type="date" class="form-control" formControlName="date">
                                        <span class="help-block">Date paid</span>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-3">
                                    <button 
                                        [disabled]="loading$ | async"
                                        class="btn"
                                        (click)="save()"
                                    >
                                        Send
                                    </button>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
