<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
              <div class="card-content" *ngIf="selected">
                <div class="white">
                  
                  <div class="row" style="padding:20px;">
                    <div class="col-md-11">
                        <p>Loan Details</p>
                    </div>
                    <div class="col-md-1">
                        <button 
                            type="button" 
                            (click)="selected=null"
                        >
                            close
                        </button>
                    </div>
                </div>
      
                <hr>
        
                  <div class="row" style="padding:10px">
                    <div class="col-md-12">
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Fullname</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.getName() }}
                          </p>
                        </div>
                      </div>
          
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Loan Amount</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.amount | currency: "GHS" }}
                          </p>
                        </div>
                      </div>
          
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Loan Rate</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.rate }}%
                          </p>
                        </div>
                      </div>
          
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Maximum Loan Amount</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.can_borrow_amount | currency:'GHS' }}
                          </p>
                        </div>
                      </div>
          
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Amount Due</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.amount_remaining | currency: "GHS" }}
                          </p>
                        </div>
                      </div>
          
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Amount Paid</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.amount_paid | currency: "GHS" }}
                          </p>
                        </div>
                      </div>
          
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Amount remaining</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.amount_remaining | currency: "GHS" }}
                          </p>
                        </div>
                      </div>
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Penalty</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.penalty }}%
                          </p>
                        </div>
                      </div>
        
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Penalty Amount</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.penalty_amount | currency: "GHS" }}
                          </p>
                        </div>
                      </div>  
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Defaulted</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.getDefaulted() }}
                          </p>
                        </div>
                      </div>
          
                      <div class="row text-row">
                        <div class="col-md-6">
                          <p>Date Applied</p>
                        </div>
                        <div class="col-md-6">
                          <p class="bold" style="text-align: right;">
                            {{ selected.createdAt | date }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="row" [formGroup]="formGroup">
            <div class="col-md-1">
                <input 
                    type="date" 
                    formControlName="from"
                >
            </div>
            <div class="col-md-1">
                <input 
                    type="date"
                    formControlName="to"
                >
            </div>
            <div class="col-md-1">
                <button
                    (click)="search()"
                >search</button>
            </div>
            <div class="col-md-2">
                <button
                    (click)="due()"
                >Filter Payments Due</button>
            </div>
            <div class="col-md-6">
                <input 
                    type="text"
                    style="width: 100%"
                    placeholder="search loans"
                    (keyup)="onSearch($event)"
                >
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <!-- <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div> -->
                    <div class="card-content">
                        <h4 class="card-title">
                            <b>Customer Loans</b>
                        </h4>
                        <br>
                        <div class="content table-responsive" [ngSwitch]="loading$ | async">
                          <table class="table table-bordered white" [ngSwitch]="onsearch">
                                <thead class="text-primary">
                                    <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Rate</th>
                                    <th>Amount Due</th>
                                    <th>Penalty</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th class="text-right">Details</th>
                                    </tr>
                                </thead>

                                <tbody *ngSwitchCase="false">
                                    <tr *ngFor="let loan of loans$ | async | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ loan.getName() }}</td>
                                        <td>{{ loan.amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.rate }}</td>
                                        <td>{{ loan.amount_remaining | currency: 'GHS' }}</td>
                                        <td>{{ loan.penalty_amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.getStatus() }}</td>
                                        <td>{{ loan.createdAt | date }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-round btn-raised btn-fab btn-fab-mini" 
                                                    data-toggle="modal" 
                                                    data-target="#myModal"
                                                    (click)="openDetails(loan)"
                                            >
                                                <i class="material-icons">view_list</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngSwitchCase="true">
                                    <tr *ngFor="let loan of filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ loan.getName() }}</td>
                                        <td>{{ loan.amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.rate }}</td>
                                        <td>{{ loan.amount_remaining | currency: 'GHS' }}</td>
                                        <td>{{ loan.penalty_amount | currency: 'GHS' }}</td>
                                        <td>{{ loan.createdAt | date }}</td>
                                        <td class="text-right">
                                            <button class="btn btn-round btn-raised btn-fab btn-fab-mini" 
                                                    data-toggle="modal" 
                                                    data-target="#myModal"
                                                    (click)="openDetails(loan)"
                                            >
                                                <i class="material-icons">view_list</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>
                          <div class="loader" *ngSwitchCase="true"></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Pagination Controls Here -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!-- End Controls -->


    </div>
</div>
