.reset-button {
  border: solid thin #9f9f9f;
  background: transparent;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
}

.reset-button:hover {
  background-color: #0B88D5;
  color: white;
}

.reset-button:active {
  opacity: 0.5;
}
/*# sourceMappingURL=user-login.component.css.map */