// .image {
//     background-image: url(../../../../assets/img/login.jpg);
// }

.reset-button {
    // margin-left: 10px;
    border: solid thin rgb(159, 159, 159);
    background: transparent;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;

    &:hover {
        background-color: #0B88D5;
        color: white;
    }
}

.reset-button:active {
    opacity: 0.5;
}