<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" filter-color="black">
    <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <div>
              <div class="card card-login card-hidden">
                <p class="login-header">
                  <b>Customer </b>
                  <b class="login"> Portal</b>
                </p>
                <div class="card-content" [formGroup]="formGroup">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">person</i>
                    </span>
                    <div class="form-group label-floating ">
                      <label class="control-label">Phone Number</label>
                      <input type="text" maxlength="10" minlength="10" class="form-control input-field" formControlName="username"
                        style="padding-left:15px;" />
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Pin</label>
                      <input type="password" class="form-control input-field" minlength="5" maxlength="5" formControlName="pswd"
                        style="padding-left:15px;" />
                    </div>
                  </div>

                  <!--  -->
                  <div class="input-group" *ngIf="employers.length>0">
                    <span class="input-group-addon">
                      <i class="material-icons">business</i>
                    </span>
                    <div class="form-group">
                      <label class="control-label">Choose Employer</label>
                      <select class="form-control" formControlName="empId">
                        <option value="">-----choose employer------</option>
                        <option [value]="employer.value" *ngFor="let employer of employers">
                          {{ employer.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="footer text-center">
                  <button style="width: 100%; border-radius: 0; margin-bottom: 0" [disabled]="loading$ | async"
                    type="submit" class="btn btn-wd btn-lg" (click)="getLogins()">
                    Login
                  </button>
                </div>

                <br />
                <br />

                <div class="footer text-center" style="margin-top: -30px">
                  <span style="color: black; font-weight: 400; padding-bottom: 5px;">forgot password? </span>
                  <button (click)="reset()" class="reset-button">
                    Reset Now
                  </button>
                </div>

                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
          <p class="copyright pull-right" style="color: rgb(55, 121, 220);">
              &copy;
              {{test | date: 'yyyy'}}
              <a style="color: rgb(55, 121, 220);"  href="https://websoftghana.com">Websoft Solutions</a>
          </p>
      </div>
  </footer>
  <div style="
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  ">
      <img class="img" src="../../../../assets/img/login-new.png" style="width: 100%;">
  </div>
  </div>
</div>