<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8" [formGroup]="formGroup">
                <div class="padding white">
                    <div class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Change Your Password</h4>
                        </div>
                        <br>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Old PIN</label>
                                        <input 
                                            type="password" 
                                            class="form-control" 
                                            formControlName="oldpin"
                                            maxlength="5"
                                            minlength="5"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">New PIN</label>
                                        <input type="password" class="form-control" 
                                            formControlName="newpin"
                                            maxlength="5"
                                            minlength="5">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Confirm New  PIN</label>
                                        <input type="password" class="form-control" 
                                            formControlName="confirmpin"
                                            maxlength="5"
                                            minlength="5">
                                    </div>
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="row">
                                <div class="col-md-3">
                                    <button 
                                        [disabled]="!formGroup.valid"
                                        class="btn btn-raised"
                                        (click)="save()"
                                    >
                                        Save
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
