<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div>
                            <div class="card card-login card-hidden">
                                <p class="category text-center padding">
                                    <b>Employer Login</b>
                                </p>
                                <div class="card-content" [formGroup]="formGroup" (keyup.enter)="login()">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">person</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Phone Number</label>
                                            <input type="text" class="form-control" formControlName="username" minlength="10" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Pin</label>
                                            <input type="password" minlength="5" maxlength="5" class="form-control" formControlName="pswd">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button [disabled]="loading$ | async" type="submit" class="btn btn-wd btn-lg"
                                        (click)="login()">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right" style="color: rgb(55, 121, 220);">
                    &copy;
                    {{test | date: 'yyyy'}}
                    <a style="color: rgb(55, 121, 220);"  href="https://websoftghana.com">Websoft Solutions</a>
                </p>
            </div>
        </footer>
        <div style="
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        ">
            <img class="img" src="../../../../assets/img/login-new.png" style="width: 100%;">
        </div>
    </div>
</div>