<footer class="footer">
    <div class="container-fluid">
        <!-- <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Company
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>
        </nav> -->
        <p class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="https://www.creative-tim.com">Websoft Solutions</a>
        </p>
    </div>
</footer>
